$c-blue:   #42c8ff;
$c-green:  #9bde9e;
$c-red:    #f75972;
$c-yellow: #edac57;
$c-purple: #d48bd4;
$c-grey-light: #888;
$c-grey-dark:  #444;

$f-sans: 'Barlow', sans-serif;
$f-mono: 'Monaco', 'Consolas', monospace;

@import url('https://fonts.googleapis.com/css?family=Barlow:500');

$t-fast: 0.15s;
$t-medium: 0.3s;
$t-slow: 0.5s;

$tf-natural: cubic-bezier(0.77, 0, 0.175, 1);

$b-tablet: 960px;
$b-mobile: 640px;

$m-tablet: '(max-width: #{$b-tablet})';
$m-mobile: '(max-width: #{$b-mobile})';

@mixin flex {
  display: flex;
  flex-shrink: 0;
}
