html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $f-sans;
}

body {
  width: 100%;
  min-height: 100vh;
}

div#json-viewer {
  @include flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  color: #222;
  overflow: hidden;
  & > * {
    height: 100%;
    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
  *.chalk {
    background-color: #222;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    line-height: 140%;
  }
  div.input {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 25%;
    position: relative;
    div.header {
      margin: 0 0 15px 0;
      h1 {
        font-family: $f-sans;
      }
    }
    textarea {
      width: 100%;
      flex-grow: 1;
      resize: none;
      outline: none;
    }
  }
  div.output {
    width: 75%;
    overflow: auto;
    pre {
      font-family: inherit;
    }
  }
}

span {
  &.red {
    color: $c-red;
  }
  &.yellow {
    color: $c-yellow;
  }
  &.green {
    color: $c-green;
  }
  &.blue {
    color: $c-blue;
  }
  &.space {
    color: $c-grey-dark;
    user-select: none;
  }
  &.grey {
    color: $c-grey-light;
    user-select: none;
  }
  &.hilight {
    color: $c-purple;
  }
}
